<img src="imagens/md-logo.jpg" width="96" height="96" align="left"/>

# Clustering - Exercícios

<font color=blue><b> Bootcamp Minerando Dados</b></font><br>
 www.minerandodados.com.br

1) Importe as bibliotecas para visualização de dados e clustering

2) Leia a base de dados **iris.csv** localizada no diretorio **datasets** e crie um Dataframe.

3) Retorne os **top 10 registros** da base de dados

4) Armazene apenas as **features e seus dados** na variável train

5) Armazene os dados de classes na variável classes

6) Utilizando a função abaixo, aplique nos dados de classe para **converter os dados categóricos em numéricos**

In [ ]:
def converte_classe(l):
    if l == 'Iris-virginica':
        return 0
    elif l == 'Iris-setosa':
        return 1
    elif l == 'Iris-versicolor':
        return 2

7) Crie uma função que faça o **calculo da distância euclidiana em dois vetores**

8) Utilizando a função criada anteriormente faça:

- Calcule a distância entre os vetores **v1 e v2** abaixo
> v1 = [1.2,1,2.1,1]<br>
> v2 = [1,1.9,5.4,3.2]

- Calcule a distância entre os vetores **v3 e v4** abaixo e explique o retorno
> v3 = [0.5,0,2.1,1.5]<br>
> v4 = [0.5,0,2.1,1.5]

9) Instâncie o algoritmo Kmeans com o número de clusters **igual ao número de classes** da sua base de dados.

10) Execute o algoritmo Kmeans com os dados da base de dados

11) Imprima os valores dos **centroides**

12) Selecione **três amostras da base de dados e calcule a distância euclidiana entre as amostras de dados e cada um dos valores de centroids**

- DICA: Use um laço for...

13) Gere a **tabela de distância** e verifique os valores através do método fit_transform()

14) Utilizando o método **predict()** defina novos valores de dados e faça a predição

15) Com os códigos da prática anterior visualize os resultados de forma gráfica

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.neighbors import DistanceMetric

In [2]:
iris = pd.read_csv("datasets/iris.csv")

In [4]:
iris.head(10)

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [7]:
train = iris.drop('Species', axis=1)
train[:10]

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2
5          5.4         3.9          1.7         0.4
6          4.6         3.4          1.4         0.3
7          5.0         3.4          1.5         0.2
8          4.4         2.9          1.4         0.2
9          4.9         3.1          1.5         0.1

In [8]:
classes = iris.Species
classes.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
def converte_classe(l):
    if l == 'Iris-setosa':
        return 0
    elif l == 'Iris-versicolor':
        return 1
    elif l == 'Iris-virginica':
        return 2

In [12]:
classes = classes.apply(converte_classe)

In [13]:
classes.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [17]:
def calc_dist(x,c):
    dist = DistanceMetric.get_metric('euclidean')
    return dist.pairwise(x,c)

In [25]:
v1 = [[1.2,1,2.1,1]]

In [26]:
v2 = [[1,1.9,5.4,3.2]]

In [27]:
calc_dist(v1,v2)

array([[4.07185461]])

In [29]:
v3 = [[0.5,0,2.1,1.5]]
v4 = [[0.5,0,2.1,1.5]]

In [30]:
calc_dist(v3, v4)

array([[0.]])

In [34]:
kmeans = KMeans(n_clusters=3, init='random')

In [39]:
kmeans.fit(iris.drop('Species', axis=1))

KMeans(algorithm='auto', copy_x=True, init='random', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [40]:
kmeans.cluster_centers_

array([[5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [5.006     , 3.418     , 1.464     , 0.244     ],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])

In [46]:
for i in range(0,3):
    distancia = kmeans.fit_transform(iris.drop('Species', axis=1))
    print(distancia[i])

[0.14694217 3.41925061 5.0595416 ]
[5.11494335 3.39857426 0.43816892]
[0.41230086 5.27935534 3.56935666]

In [47]:
for row in train.values[:3]:
    print(row)
    for centroid in kmeans.cluster_centers_:
        print('centroid: ' + str(centroid))
        print(calc_dist([row], [centroid]))
        print('--------')

[5.1 3.5 1.4 0.2]
centroid: [5.006 3.418 1.464 0.244]
[[0.14694217]]
--------
centroid: [6.85       3.07368421 5.74210526 2.07105263]
[[5.0595416]]
--------
centroid: [5.9016129  2.7483871  4.39354839 1.43387097]
[[3.41925061]]
--------
[4.9 3.  1.4 0.2]
centroid: [5.006 3.418 1.464 0.244]
[[0.43816892]]
--------
centroid: [6.85       3.07368421 5.74210526 2.07105263]
[[5.11494335]]
--------
centroid: [5.9016129  2.7483871  4.39354839 1.43387097]
[[3.39857426]]
--------
[4.7 3.2 1.3 0.2]
centroid: [5.006 3.418 1.464 0.244]
[[0.41230086]]
--------
centroid: [6.85       3.07368421 5.74210526 2.07105263]
[[5.27935534]]
--------
centroid: [5.9016129  2.7483871  4.39354839 1.43387097]
[[3.56935666]]
--------