<img src="imagens/md-logo.jpg" width="96" height="96" align="left"/>

# Python para Data Science - Exercícios

<font color=blue><b> Bootcamp Minerando Dados</b></font><br>
 www.minerandodados.com.br

1) Imprima a frase "Eu sou Minerador de Dados!"

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

3) Imprima o tipo de um determinado valor inteiro.

4) Converta o valor passado anteriormente para o tipo float

5) Faça a conversão do valor float recebido anteriormente para o tipo string

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [1]:
print("Eu sou Minerador de Dados!")

Eu sou Minerador de Dados!

In [5]:
soma = 1 + 3 
print(soma)

4

In [7]:
sub = 10 - 8
print(sub)

2

In [8]:
div = 10 / 5
print(div)

2.0

In [9]:
mult = 10 * 2
print(mult)

20

In [10]:
type(mult)

int

In [11]:
float(mult)

20.0

In [12]:
f = float(mult)

In [13]:
str(f)

'20.0'

In [15]:
round(2.898)

3

In [16]:
round(2.4545455, 4)

2.4545

In [19]:
nome = "Carlos Arruda"

In [20]:
print(nome)

Carlos Arruda

In [21]:
type(nome)

str

In [24]:
nome_idade = (nome + '30')

In [25]:
print(nome_idade)

Carlos Arruda30

In [26]:
email, idade = 'caugustogarruda@gmail.com', 30
print(email, idade)

caugustogarruda@gmail.com 30

In [27]:
texto = "Python é uma maldição"

In [28]:
texto[0]

'P'

In [29]:
texto[:6]

'Python'

In [30]:
len(texto)

21

In [31]:
novo_texto = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
novo_texto.count("dados")

2

In [32]:
novo_texto.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [33]:
novo_texto.split(',')

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

In [34]:
lista = ['Carlos', 'Arruda', [38, 38]]

In [35]:
lista

['Carlos', 'Arruda', [38, 38]]

In [37]:
lista[1]

'Arruda'

In [38]:
len(lista)

3

In [39]:
lista[1] = 'Augusto'

In [40]:
lista

['Carlos', 'Augusto', [38, 38]]

In [43]:
lista[2]

[38, 38]

In [44]:
lista.clear()

In [45]:
lista

[]

In [54]:
salarios = [900,1200,1500,800,12587,10000]

In [55]:
1000 in salarios

False

In [56]:
salarios.append(700)

In [57]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 700]

In [64]:
salarios + [954, 1800]

[900, 1200, 1500, 800, 12587, 10000, 700, [954, 1800], 954, 1800]

In [65]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 700, [954, 1800]]